################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/wj.ObjectComparer/obj
/.vs
/wj.ObjectComparer/bin
bin
obj
/TestResults
